In [1]:
import pandas as pd

In [ ]:
heroes = pd.read_csv('https://thisismetis.github.io/datasets/heroes_information.csv?raw=True', 
                     index_col=0,
                     na_values=[-99, '-']
                    ).dropna(subset=['Weight']).reset_index(drop=True)

In [2]:
df = pd.read_csv('https://thisismetis.github.io/datasets/heroes_information.csv?raw=True')
df.shape

(734, 11)

In [3]:
df.head()

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

## Finding Missing Values NaN or Null

### .info()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734 entries, 0 to 733
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  734 non-null    int64
 1   name        734 non-null    object
 2   Gender      734 non-null    object
 3   Eye color   734 non-null    object
 4   Race        734 non-null    object
 5   Hair color  734 non-null    object
 6   Height      734 non-null    float64
 7   Publisher   719 non-null    object
 8   Skin color  734 non-null    object
 9   Alignment   734 non-null    object
 10  Weight      732 non-null    float64
dtypes: float64(2), int64(1), object(8)
memory usage: 63.2+ KB

### .isna().sum()

In [6]:
df.isna().sum()

Unnamed: 0     0
name           0
Gender         0
Eye color      0
Race           0
Hair color     0
Height         0
Publisher     15
Skin color     0
Alignment      0
Weight         2
dtype: int64

### .isna()

In [5]:
df.isna()

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
729,False,False,False,False,False,False,False,False,False,False,False
730,False,False,False,False,False,False,False,False,False,False,False
731,False,False,False,False,False,False,False,False,False,False,False
732,False,False,False,False,False,False,False,False,False,False,False
733,False,False,False,False,False,False,False,False,False,False,False

In [7]:
df.Weight.isna()

0      False
1      False
2      False
3      False
4      False
       ...
729    False
730    False
731    False
732    False
733    False
Name: Weight, Length: 734, dtype: bool

## use Tielda ~.isna()   will allow you to mask the True values from the DF

In [8]:
~df.Weight.isna()

0      True
1      True
2      True
3      True
4      True
       ...
729    True
730    True
731    True
732    True
733    True
Name: Weight, Length: 734, dtype: bool

In [10]:
df[~df.Weight.isna()].shape

(732, 11)

In [11]:
df[~df.Weight.isna()]

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0
...,...,...,...,...,...,...,...,...,...,...,...
729,729,Yellowjacket II,Female,blue,Human,Strawberry Blond,165.0,Marvel Comics,-,good,52.0
730,730,Ymir,Male,white,Frost Giant,No Hair,304.8,Marvel Comics,white,good,-99.0
731,731,Yoda,Male,brown,Yoda's species,White,66.0,George Lucas,green,good,17.0
732,732,Zatanna,Female,blue,Human,Black,170.0,DC Comics,-,good,57.0
733,733,Zoom,Male,red,-,Brown,185.0,DC Comics,-,bad,81.0

## Handling Missing Values
1. Drop Missing Values
2. Impute the medin, mean to replace

### .dropna(subset=[''], inplace=True)

In [13]:
weight_na = df.dropna(subset=['Weight'])
weight_na.shape

(732, 11)

In [ ]:
df.dropna(subset=['Weight'], inplace=True)

### .fillna(0) or .fillna(df.Weight.mean())

In [ ]:
df.Weight.fillna(0)

In [15]:
weight_avg = df.Weight.mean()
weight_avg

43.8551912568306

In [20]:
weight_avg_df = df.Weight.fillna(weight_avg)

In [21]:
weight_avg_df.mean()

43.8551912568306

In [22]:
df.columns

Index(['Unnamed: 0', 'name', 'Gender', 'Eye color', 'Race', 'Hair color',
       'Height', 'Publisher', 'Skin color', 'Alignment', 'Weight'],
      dtype='object')

## Columns

### .rename(columns={Dictionary}, inplace=True)

In [23]:
df.rename(columns={'Unnamed: 0': 'Index'}, inplace=True)

In [24]:
df.columns

Index(['Index', 'name', 'Gender', 'Eye color', 'Race', 'Hair color', 'Height',
       'Publisher', 'Skin color', 'Alignment', 'Weight'],
      dtype='object')

### .columns.str.upper()

In [26]:
df.columns = df.columns.str.upper()
df.columns

Index(['INDEX', 'NAME', 'GENDER', 'EYE COLOR', 'RACE', 'HAIR COLOR', 'HEIGHT',
       'PUBLISHER', 'SKIN COLOR', 'ALIGNMENT', 'WEIGHT'],
      dtype='object')

### .astype('float', 'str', 'integer')

In [28]:
df['Weight'] = df.WEIGHT.astype('float')

## .drop('column_name', axis=1, inplace=True) --> 0=Row or 1=Column

In [29]:
df.drop('INDEX', axis=1)

,NAME,GENDER,EYE COLOR,RACE,HAIR COLOR,HEIGHT,PUBLISHER,SKIN COLOR,ALIGNMENT,WEIGHT,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0,441.0
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0,65.0
2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0,90.0
3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0,441.0
4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0,-99.0
...,...,...,...,...,...,...,...,...,...,...,...
729,Yellowjacket II,Female,blue,Human,Strawberry Blond,165.0,Marvel Comics,-,good,52.0,52.0
730,Ymir,Male,white,Frost Giant,No Hair,304.8,Marvel Comics,white,good,-99.0,-99.0
731,Yoda,Male,brown,Yoda's species,White,66.0,George Lucas,green,good,17.0,17.0
732,Zatanna,Female,blue,Human,Black,170.0,DC Comics,-,good,57.0,57.0
733,Zoom,Male,red,-,Brown,185.0,DC Comics,-,bad,81.0,81.0

In [30]:
df

,INDEX,NAME,GENDER,EYE COLOR,RACE,HAIR COLOR,HEIGHT,PUBLISHER,SKIN COLOR,ALIGNMENT,WEIGHT,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0,-99.0
...,...,...,...,...,...,...,...,...,...,...,...,...
729,729,Yellowjacket II,Female,blue,Human,Strawberry Blond,165.0,Marvel Comics,-,good,52.0,52.0
730,730,Ymir,Male,white,Frost Giant,No Hair,304.8,Marvel Comics,white,good,-99.0,-99.0
731,731,Yoda,Male,brown,Yoda's species,White,66.0,George Lucas,green,good,17.0,17.0
732,732,Zatanna,Female,blue,Human,Black,170.0,DC Comics,-,good,57.0,57.0
733,733,Zoom,Male,red,-,Brown,185.0,DC Comics,-,bad,81.0,81.0

## Handling Text

### .str.upper()

In [31]:
df.GENDER = df.GENDER.str.upper()
df

,INDEX,NAME,GENDER,EYE COLOR,RACE,HAIR COLOR,HEIGHT,PUBLISHER,SKIN COLOR,ALIGNMENT,WEIGHT,Weight
0,0,A-Bomb,MALE,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0,441.0
1,1,Abe Sapien,MALE,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0,65.0
2,2,Abin Sur,MALE,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0,90.0
3,3,Abomination,MALE,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0,441.0
4,4,Abraxas,MALE,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0,-99.0
...,...,...,...,...,...,...,...,...,...,...,...,...
729,729,Yellowjacket II,FEMALE,blue,Human,Strawberry Blond,165.0,Marvel Comics,-,good,52.0,52.0
730,730,Ymir,MALE,white,Frost Giant,No Hair,304.8,Marvel Comics,white,good,-99.0,-99.0
731,731,Yoda,MALE,brown,Yoda's species,White,66.0,George Lucas,green,good,17.0,17.0
732,732,Zatanna,FEMALE,blue,Human,Black,170.0,DC Comics,-,good,57.0,57.0
733,733,Zoom,MALE,red,-,Brown,185.0,DC Comics,-,bad,81.0,81.0

### .str.replace("items to remove", 'items to replace with')

In [33]:
df.RACE.str.replace('/', ' - ')

0                    Human
1            Icthyo Sapien
2                  Ungaran
3      Human  -  Radiation
4            Cosmic Entity
              ...
729                  Human
730            Frost Giant
731         Yoda's species
732                  Human
733                      -
Name: RACE, Length: 734, dtype: object

### str.strip() -> Removes whitespace == Spaces, Tabs, New Line Characters

In [34]:
df.RACE.str.strip()

0                  Human
1          Icthyo Sapien
2                Ungaran
3      Human / Radiation
4          Cosmic Entity
             ...
729                Human
730          Frost Giant
731       Yoda's species
732                Human
733                    -
Name: RACE, Length: 734, dtype: object

### .str.contains('words looking for') --> Checking SubStrings

In [35]:
df.RACE.str.contains('Human')

0       True
1      False
2      False
3       True
4      False
       ...
729     True
730    False
731    False
732     True
733    False
Name: RACE, Length: 734, dtype: bool