In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('hepatitis.csv')
df.shape

(155, 21)

In [3]:
df.head()

,ID,target,age,gender,steroid,antivirals,fatigue,malaise,anorexia,liverBig,...,spleen,spiders,ascites,varices,bili,alk,sgot,albu,protime,histology
0,1,2,30,2,1,2,2,2,2,1,...,2,2,2,2,1,85,18,4,?,1
1,2,2,50,1,1,2,1,2,2,1,...,2,2,2,2,0.9,135,42,3.5,?,1
2,3,2,78,1,2,2,1,2,2,2,...,2,2,2,2,0.7,96,32,4,?,1
3,4,2,31,1,?,1,2,2,2,2,...,2,2,2,2,0.7,46,52,4,80,1
4,5,2,34,1,2,2,2,2,2,2,...,2,2,2,2,1,?,200,4,?,1

In [4]:
df.target.unique()

array([2, 1])

In [5]:
df.target.nunique()

2

In [6]:
df.target.value_counts()

2    123
1     32
Name: target, dtype: int64

In [7]:
df.columns

Index(['ID', 'target', 'age', 'gender', 'steroid', 'antivirals', 'fatigue',
       'malaise', 'anorexia', 'liverBig', 'liverFirm', 'spleen', 'spiders',
       'ascites', 'varices', 'bili', 'alk', 'sgot', 'albu', 'protime',
       'histology'],
      dtype='object')

columNames=['Class','AGE','SEX','STEROID','ANTIVIRALS','FATIGUE','MALAISE','ANOREXIA','LIVER BIG','LIVER FIRM','SPLEEN PALPABLE','SPIDERS','ASCITES','VARICES','BILIRUBIN','ALK PHOSPHATE','SGOT','ALBUMIN','PROTIME','HISTOLOGY']

In [8]:
df.groupby('target').count()

,ID,age,gender,steroid,antivirals,fatigue,malaise,anorexia,liverBig,liverFirm,spleen,spiders,ascites,varices,bili,alk,sgot,albu,protime,histology
target,,,,,,,,,,,,,,,,,,,,
1,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32
2,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123

In [9]:
df.groupby('target').median()

           ID   age  gender  antivirals  histology
target
1       108.5  46.5     1.0         2.0        2.0
2        66.0  38.0     1.0         2.0        1.0