In [4]:
5 / 2

2.5

In [6]:
5 // 2

2

In [6]:
round(calc, 0)

49.0

## *args & **kwargs - use when unsure about number of arguments to pass in the functions
    1. *args (Non Keyword Arguments) - allows us to pass variable length argument list
    2. *kwargs (Keyword Arguments) - allows us to pass the variable length of keyword arguments to the function

In [10]:
def adder(*num):
    sum = 0
    
    for n in num:
        sum = sum + n

    print("Sum:",sum)

adder(3,5)
adder(4,5,6,7)
adder(1,2,3,5,6)

Sum: 8
Sum: 22
Sum: 17

In [11]:
def intro(**data):
    print("\nData type of argument:",type(data))

    for key, value in data.items():
        print("{} is {}".format(key,value))

intro(Firstname="Sita", Lastname="Sharma", Age=22, Phone=1234567890)

Data type of argument: <class 'dict'>
Firstname is Sita
Lastname is Sharma
Age is 22
Phone is 1234567890

In [12]:
intro(Firstname="John", Lastname="Wood", Email="johnwood@nomail.com", Country="Wakanda", Age=25, Phone=9876543210)

Data type of argument: <class 'dict'>
Firstname is John
Lastname is Wood
Email is johnwood@nomail.com
Country is Wakanda
Age is 25
Phone is 9876543210

## Destructuring Lists

    https://riptutorial.com/python/example/14981/destructuring-assignment

In [9]:
# '''Create variable nose here and assign it to arr[1]''' = arr

arr = ["eyes", "nose", "lips", "ears"]
_ , nose, _, _ = arr
nose

'nose'

In [10]:
a, b, *other, z = [1, 2, 3, 4, 5]
print(a, b, z, other)

1 2 5 [3, 4]

In [9]:
head, *tail = [1, 2, 3, 4, 5]
print(head)
tail

1

[2, 3, 4, 5]

In [4]:
first, second, third, *other = [1, 2, 3, 4, 5, 6, 7, 8]
other

[4, 5, 6, 7, 8]

## Evaluate

In [39]:
def eq(*args):
    return args[0]

a = "3*4+1"
b = "6/(9-7)"

In [ ]:
def operate(x,y,z):
    return eval('{}{}{}'.format(x,z,y))

In [40]:
eval("6/(9-7)")

3.0

In [41]:
eq(a)

'3*4+1'

In [44]:
lambda n: eval(str(n))

## Check if Lists are IDENTICAL

In [1]:
test_list1 = [1, 2, 4, 3, 5]
test_list2 = [1, 2, 4, 3, 5]

In [2]:
test_list1 == test_list2

True

In [3]:
import collections

collections.Counter(test_list1) == collections.Counter(test_list2)

True

## Triangle or Parallelogram

In [ ]:
def area_shape(base, height, shape):
	return {'triangle': 0.5*base*height, 'parallelogram': base*height}[shape]

In [ ]:
def area_shape(base, height, shape):
	return base * height / [1, 2][shape == "triangle"]

In [ ]:
def area_shape(b,h,f):
	return b*h*0.5 if f=='triangle' else b*h

In [ ]:
area_shape = lambda b,h,s: b*h if s[0]=="p" else b*h/2

## Char-to-ASCII

        Given a string representing one Unicode character, return an integer representing the Unicode code point of that character. For example, ord('a') returns the integer 97

In [5]:
def ctoa(char):
	return ord(char)

In [6]:
ctoa('a')

97

## ASCII to Char

    Return the string representing a character whose Unicode code point is the integer i. For example, chr(97) returns the string 'a'

In [7]:
def atoch(char):
	return chr(char)

In [8]:
atoch(97)

'a'

## Numbers to Dictionaries ASCII to CHAR
    Given a list of numbers lst:

    Create a dictionary for each given number.
    The dictionary key will be the number converted to a string.
    The value will be the corresponding character code converted to a string (check ASCII table).

In [1]:
def num_to_dict(lst):
	return [{str(i): chr(i) } for i in lst]

num_to_dict([118, 117, 120])

[{'118': 'v'}, {'117': 'u'}, {'120': 'x'}]

## AND, OR and NOT
    write the three logic gates: AND, OR, and NOT.
        1. AND(0, 1), 0
        2. OR(0, 1), 1
        3. NOT(0), 1

In [ ]:
def NOT(n):
		return not n
def AND(n1, n2):
		return n1 & n2
def OR(n1, n2):
		return n1 | n2

In [ ]:
## Random Integer Generator

    Return a random integer N such that a <= N <= b

In [1]:
import random import randint

def random_int(a, b):
	return random.randint(a,b)

random_int(5, 9)

9

## Sum of Minimums
    Create a function that takes a 2D list lst and returns the sum of the minimum value in each row.

In [4]:
def sum_minimums(lst):
	return sum(map(min, lst))

sum_minimums([
  [1, 2, 3, 4, 5],
  [5, 6, 7, 8, 9],
  [20, 21, 34, 56, 100]
])

26

In [5]:
def sum_minimums(lst):
	return sum(map(min, lst))

## all() Check if all items in a list are TRUE

In [ ]:
def nothing_is_nothing(*args):
	return all(args)

## enumerate Find None in a List
     return value should be the index where None is found. 
    If None is not found in the list, then return -1

In [ ]:
def find_none(lst):
	return -1 if all(lst) else [i for i,v in enumerate(lst) if v == None][0]

In [ ]:
def find_None(lst):
	return lst.index(None) if None in lst else -1

In [1]:
def find_None(lst):
	try:
		return lst.index(None)
	except ValueError:
		return -1

In [2]:
def find_None(lst):
		for idx, i in enumerate(lst):
				if i is None:
						return idx
		return -1

## Try Except

    The try block lets you test a block of code for errors.
    The except block lets you handle the error.
    The else block lets you execute code when there is no error. 
    The finally block lets you execute code, regardless of the result of the try- and except blocks.

In [7]:
# The try block will generate an exception, because x is not defined:

try:
  print(x)
except:
  print("An exception occurred")

An exception occurred

In [8]:
# Print one message if the try block raises a NameError and another for other errors:

try:
  print(x)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

Variable x is not defined

In [9]:
# In this example, the try block does not generate any error:

try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

In [10]:
# The finally block, if specified, will be executed regardless if the try block raises an error or not.

try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

In [11]:
# This can be useful to close objects and clean up resources:
# Try to open and write to a file that is not writable:

try:
  f = open("demofile.txt")
  try:
    f.write("Lorum Ipsum")
  except:
    print("Something went wrong when writing to the file")
  finally:
    f.close()
except:
  print("Something went wrong when opening the file")

Something went wrong when opening the file

## Raise an exception
    As a Python developer you can choose to throw an exception if a condition occurs.

    To throw (or raise) an exception, use the raise keyword.

In [12]:
# Raise an error and stop the program if x is lower than 0:

x = -1

if x < 0:
  raise Exception("Sorry, no numbers below zero")

Exception: Sorry, no numbers below zero

In [13]:
# The raise keyword is used to raise an exception.
# You can define what kind of error to raise, and the text to print to the user.
# Raise a TypeError if x is not an integer:

x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed