In [1]:
import pandas as pd

1. Database -- SQL, NoSQL
2. Flat File -- .csv, .txt, .json, .xls
3. Python Object -- Lists, Dictionaries, Pickled Object

### CSV File

In [ ]:
pd.read_csv('csv_data.csv')

### Excel File

In [ ]:

pd.read_excel('excel_data.xlsx', sheet_name='sales' )
pd.read_excel('excel_data.xlsx', sheet_name='1' )

### Text Files

In [ ]:
pd.read_csv('txt_data.txt')

### .json Files

In [ ]:
pd.read_jason('json_data.json')

## Pre-Processing while Imports

## Sep = '\t' ---> delimeter -> for Tabs

## columns = ['ID', 'Date', 'Customer']  --> List of column names when creating a Dataframe 
                                            or reanaming the import in the same order

##  index_col = 0 --> Specify which column to use as Index

## index = ['A', 'B', 'C'] --- > Specify a list of index names to use

### 1. na_values = '-1 '  -> Specify the correct string used for missing Values, Default is a space

1. single value ---> na_values = '-1'
2. List ---> na_values = [-99, '-', '-1]

## 2. usecols = [0,1,2] ---> Specify within the List the columns to import

1. Column names by Index -- > usecols = [1,4,6,7]
2. Column names --> ['ID', 'Date', ' Customer']

## 3. nrows = 233 --> Specify the number of rows to import

## 4. skiprows = [245, 250, 299] ---> Specify the rows NOT to Import

## 5. parse_dates = ['Date'] ---> Specify which column is the date to be formated properly

## 6. dtype = { 'ID': float} --> Specify a column to a desired dtype using Dictionary

## Creating a Dataframe from Lists

In [7]:
column_names = ['ID', 'Date', 'Customer']
list1 = ['1', '1-Jan-20', 'yes']
list2 = ['2', '2-Jan-20', 'no']
list3 = ['3', '3-Jan-20', '.']

In [5]:
list_data = [list1, list2, list3]

In [6]:
list_df = pd.DataFrame(list_data, columns = column_names)
list_df

   0         1    2
0  1  1-Jan-20  yes
1  2  2-Jan-20   no
2  3  3-Jan-20    .

## pd.concat(['DF Name_1', 'Df Name_2']) --- >Append to a Dataframe if data is same columns

In [9]:
duplicate_df = list_df

In [12]:
pd.concat([list_df, duplicate_df])

   0         1    2
0  1  1-Jan-20  yes
1  2  2-Jan-20   no
2  3  3-Jan-20    .
0  1  1-Jan-20  yes
1  2  2-Jan-20   no
2  3  3-Jan-20    .

In [10]:
list_df.append(duplicate_df)

/var/folders/ff/t0ys9vx11sd6x_rkdf6p8ht40000gq/T/ipykernel_5985/2802349993.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  list_df.append(duplicate_df)

   0         1    2
0  1  1-Jan-20  yes
1  2  2-Jan-20   no
2  3  3-Jan-20    .
0  1  1-Jan-20  yes
1  2  2-Jan-20   no
2  3  3-Jan-20    .

## Creating DataFrame from Dictionaries

In [13]:
a = pd.DataFrame({'population': [470914, 806341, 15154000], 
                 'area_sq_mi': [55.25, 247.5, 78.38]} )
a

   population  area_sq_mi
0      470914       55.25
1      806341      247.50
2    15154000       78.38

## dict(zip(dict_names, dict_val)) ---> Dataframe from list of keys & list of values converted to Dict

In [19]:
dict_keys = ['population', 'area_sq_mi'] 

dict_val = [[470914, 806341, 15154000],[55.25, 247.5, 78.38] ]

In [20]:
data_dict = dict(zip(dict_keys, dict_val))
data_dict

{'population': [470914, 806341, 15154000], 'area_sq_mi': [55.25, 247.5, 78.38]}

In [21]:
cc = pd.DataFrame(dict(zip(dict_keys, dict_val)))
cc

   population  area_sq_mi
0      470914       55.25
1      806341      247.50
2    15154000       78.38

In [22]:
dd = pd.DataFrame.from_dict(data_dict, orient='index')
dd

                    0         1            2
population  470914.00  806341.0  15154000.00
area_sq_mi      55.25     247.5        78.38

In [23]:
dd.transpose()

   population  area_sq_mi
0    470914.0       55.25
1    806341.0      247.50
2  15154000.0       78.38

## Create a dataframe from Dictionary of Dictionaries

In [24]:
data_dict = {
    
    0: {'ID' : '1',
       'Name': 'Joe',
       'Dept': 'Finance'       
    },
    
     1 :{'ID' : '2',
       'Name': 'Mark',
       'Dept': 'HR'       
    } 
}

In [25]:
pd.DataFrame(data_dict)

            0     1
ID          1     2
Name      Joe  Mark
Dept  Finance    HR

In [26]:
pd.DataFrame(data_dict).transpose()

  ID  Name     Dept
0  1   Joe  Finance
1  2  Mark       HR

## Opening Files with Python

## Import TXT Files

In [28]:
with open('hepatitis.csv', 'r') as file:
    print(file.read())

ID,target,age,gender,steroid,antivirals,fatigue,malaise,anorexia,liverBig,liverFirm,spleen,spiders,ascites,varices,bili,alk,sgot,albu,protime,histology
1,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1,85,18,4,?,1
2,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.9,135,42,3.5,?,1
3,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.7,96,32,4,?,1
4,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.7,46,52,4,80,1
5,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1,?,200,4,?,1
6,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.9,95,28,4,75,1
7,1,51,1,1,2,1,2,1,2,2,1,1,2,2,?,?,?,?,?,1
8,2,23,1,2,2,2,2,2,2,2,2,2,2,2,1,?,?,?,?,1
9,2,39,1,2,2,1,2,2,2,1,2,2,2,2,0.7,?,48,4.4,?,1
10,2,30,1,2,2,2,2,2,2,2,2,2,2,2,1,?,120,3.9,?,1
11,2,39,1,1,1,2,2,2,1,1,2,2,2,2,1.3,78,30,4.4,85,1
12,2,32,1,2,1,1,2,2,2,1,2,1,2,2,1,59,249,3.7,54,1
13,2,41,1,2,1,1,2,2,2,1,2,2,2,2,0.9,81,60,3.9,52,1
14,2,30,1,2,2,1,2,2,2,1,2,2,2,2,2.2,57,144,4.9,78,1
15,2,47,1,1,1,2,2,2,2,2,2,2,2,2,?,?,60,?,?,1
16,2,38,1,1,2,1,1,1,2,2,2,2,1,2,2,72,89,2.9,46,1
17,2,66,1,2,2,1,2,2,2,2,2,2,2,2,1.2,102,53,4.3,?,1
18,2,40,1,1,2,1,2,2,2,1,2,2,2,2,0.6,62,166,4,63,1
19,2,38,1,2,2,2,2,2,2,2,2,2,2,2,0.7,53,42,4.1,85,2
20,2,38,1,1,1,2,2,2,1,1,2,2,2,2,0.7,70,28,4.2,62,1
21,2,22,2,2,1,1,2,2,2,2,2,2,2,2,0.9,48,20,4.2,64,1
22,2,27,1,2,2,1,1,1,1,1,1,1,2,2,1.2,133,98,4.1,39,1
23,2,31,1,2,2,2,2,2,2,2,2,2,2,2,1,85,20,4,100,1
24,2,42,1,2,2,2,2,2,2,2,2,2,2,2,0.9,60,63,4.7,47,1
25,2,25,2,1,1,2,2,2,2,2,2,2,2,2,0.4,45,18,4.3,70,1
26,2,27,1,1,2,1,1,2,2,2,2,2,2,2,0.8,95,46,3.8,100,1
27,2,49,1,1,1,1,1,1,2,1,2,1,2,2,0.6,85,48,3.7,?,1
28,2,58,2,2,2,1,2,2,2,1,2,1,2,2,1.4,175,55,2.7,36,1
29,2,61,1,1,2,1,2,2,1,1,2,2,2,2,1.3,78,25,3.8,100,1
30,2,51,1,1,1,1,1,2,2,2,2,2,2,2,1,78,58,4.6,52,1
31,1,39,1,1,1,1,1,2,2,1,2,2,2,2,2.3,280,98,3.8,40,1
32,1,62,1,1,2,1,1,2,?,?,2,2,2,2,1,?,60,?,?,1
33,2,41,2,2,1,1,1,1,2,2,2,2,2,2,0.7,81,53,5,74,1
34,2,26,2,1,2,2,2,2,2,1,2,2,2,2,0.5,135,29,3.8,60,1
35,2,35,1,2,2,1,2,2,2,2,2,2,2,2,0.9,58,92,4.3,73,1
36,1,37,1,2,2,1,2,2,2,2,2,1,2,2,0.6,67,28,4.2,?,1
37,2,23,1,2,2,1,1,1,2,2,1,2,2,2,1.3,194,150,4.1,90,1
38,2,20,2,1,2,1,1,1,1,1,1,1,2,2,2.3,150,68,3.9,?,1
39,2,42,1,1,2,2,2,2,2,2,2,2,2,2,1,85,14,4,100,1
40,2,65,1,2,2,1,1,2,2,1,1,1,1,2,0.3,180,53,2.9,74,2
41,2,52,1,1,1,2,2,2,2,2,2,2,2,2,0.7,75,55,4,21,1
42,2,23,1,2,2,2,2,2,?,?,?,?,?,?,4.6,56,16,4.6,?,1
43,2,33,1,2,2,2,2,2,2,2,2,2,2,2,1,46,90,4.4,60,1
44,2,56,1,1,2,1,2,2,2,2,2,2,2,2,0.7,71,18,4.4,100,1
45,2,34,1,2,2,2,2,2,2,2,2,2,2,2,?,?,86,?,?,1
46,2,28,1,2,2,1,1,2,2,2,2,2,2,2,0.7,74,110,4.4,?,1
47,2,37,1,1,2,2,2,2,2,1,2,1,2,2,0.6,80,80,3.8,?,1
48,2,28,2,2,2,1,1,2,2,1,2,2,2,2,1.8,191,420,3.3,46,1
49,2,36,1,1,2,2,2,2,2,2,1,2,2,2,0.8,85,44,4.2,85,1
50,2,38,1,2,1,1,1,1,2,2,2,1,2,2,0.7,125,65,4.2,77,1
51,2,39,1,1,2,2,2,2,2,2,2,2,2,2,0.9,85,60,4,?,1
52,2,39,1,2,2,2,2,2,2,2,2,2,2,2,1,85,20,4,?,1
53,2,44,1,2,2,2,2,2,2,2,2,2,2,2,0.6,110,145,4.4,70,1
54,2,40,1,2,1,1,2,2,2,1,1,2,2,2,1.2,85,31,4,100,1
55,2,30,1,2,2,1,2,2,2,2,2,2,2,2,0.7,50,78,4.2,74,1
56,2,37,1,1,2,1,1,1,2,2,2,2,2,2,0.8,92,59,?,?,1
57,2,34,1,1,2,?,?,?,?,?,?,?,?,?,?,?,?,?,?,1
58,2,30,1,2,1,2,2,2,2,2,2,2,2,2,0.7,52,38,3.9,52,1
59,2,64,1,2,1,1,1,2,1,1,2,2,2,2,1,80,38,4.3,74,1
60,2,45,2,1,2,1,1,2,2,2,1,2,2,2,1,85,75,?,?,1
61,2,37,1,2,2,2,2,2,2,2,2,2,2,2,0.7,26,58,4.5,100,1
62,2,32,1,2,2,2,2,2,2,2,2,2,2,2,0.7,102,64,4,90,1
63,2,32,1,2,2,1,1,1,2,2,2,1,2,1,3.5,215,54,3.4,29,1
64,2,36,1,1,2,2,2,2,1,1,1,2,2,2,0.7,164,44,3.1,41,1
65,2,49,1,2,2,1,1,2,2,2,2,2,2,2,0.8,103,43,3.5,66,1
66,2,27,1,2,2,2,2,2,2,2,2,2,2,2,0.8,?,38,4.2,?,1
67,2,56,1,1,2,2,2,2,2,2,2,2,2,2,0.7,62,33,3,?,1
68,1,57,1,2,2,1,1,1,2,2,2,1,1,2,4.1,?,48,2.6,73,1
69,2,39,1,2,2,1,2,2,2,2,2,2,2,2,1,34,15,4,54,1
70,2,44,1,1,2,1,1,2,2,2,2,2,2,2,1.6,68,68,3.7,?,1
71,2,24,1,2,2,2,2,2,2,2,2,2,2,2,0.8,82,39,4.3,?,1
72,1,34,1,1,2,1,1,2,1,1,2,1,2,2,2.8,127,182,?,?,1
73,2,51,1,2,2,1,1,1,?,?,?,?,?,?,0.9,76,271,4.4,?,1
74,2,36,1,1,2,1,1,1,2,1,2,2,2,2,1,?,45,4,57,1
75,2,50,1,2,2,2,2,2,2,2,2,2,2,2,1.5,100,100,5.3,?,1
76,2,32,1,1,1,1,1,2,2,2,2,2,2,2,1,55,45,4.1,56,1
77,1,58,1,2,2,1,2,2,1,1,1,1,2,2,2,167,242,3.3,?,1
78,2,34,2,1,1,2,2,2,2,1,2,2,2,2,0.6,30,24,4,76,1
79,2,34,1,1,2,1,2,2,1,1,2,1,2,2,1,72,46,4.4,57,1
80,2,28,1,2,2,2,2,2,2,2,2,2,2,2,0.7,85,31,4.9,?,1
81,2,23,1,2,2,1,1,1,2,2,2,2,2,2,0.8,?,14,4.8,?,1
82,2,36,1,2,2,2,2,2,2,2,2,2,2,2,0.7,62,224,4.2,100,1
83,2,30,1,1,2,2,2,2,2,2,2,2,2,2,0.7,100,31,4,100,1
84,2,67,2,1,2,1,1,2,2,2,?,?,?,?,1.5,179,69,2.9,?,1
85,2,62,2,2,2,1,1,2,2,1,2,1,2,2,1.3,141,156,3.9,58,1
86,2,28,1,1,2,1,1,1,2,1,2,2,2,2,1.6,44,123,4,46,1
87,1,44,1,1,2,1,1,2,2,2,1,2,2,1,0.9,135,55,?,41,2
88,1,30,1,2,2,1,1,1,2,1,2,1,1,1,2.5,165,64,2.8,?,2
89,1,38,1,1,2,1,1,1,2,1,2,1,1,1,1.2,118,16,2.8,?,2
90,2,38,1,1,2,1,1,1,1,1,2,2,2,2,0.6,76,18,4.4,84,2
91,2,50,2,1,2,1,2,2,1,1,1,1,2,2,0.9,230,117,3.4,41,2
92,1,42,1,1,2,1,1,1,2,2,1,1,2,1,4.6,?,55,3.3,?,2
93,2,33,1,2,2,2,2,2,?,?,2,2,2,2,1,?,60,4,?,2
94,2,52,1,1,2,2,2,2,2,2,2,2,2,2,1.5,?,69,2.9,?,2
95,1,59,1,1,2,1,1,2,2,1,1,1,2,2,1.5,107,157,3.6,38,2
96,2,40,1,1,1,1,1,1,1,1,2,2,2,2,0.6,40,69,4.2,67,2
97,2,30,1,1,2,1,1,2,2,1,2,1,2,2,0.8,147,128,3.9,100,2
98,2,44,1,1,2,1,1,2,1,1,2,1,2,2,3,114,65,3.5,?,2
99,1,47,1,2,2,2,2,2,2,2,2,1,2,1,2,84,23,4.2,66,2
100,2,60,1,1,2,1,2,2,1,1,1,1,2,2,?,?,40,?,?,2
101,1,48,1,1,2,1,1,2,2,1,2,1,1,1,4.8,123,157,2.7,31,2
102,2,22,1,2,2,2,2,2,2,2,2,2,2,2,0.7,?,24,?,?,2
103,2,27,1,1,2,1,2,2,2,1,2,2,2,2,2.4,168,227,3,66,2
104,2,51,1,1,2,1,1,1,2,1,1,1,2,1,4.6,215,269,3.9,51,2
105,1,47,1,2,2,1,1,2,2,1,2,2,1,1,1.7,86,20,2.1,46,2
106,2,25,1,2,2,2,2,2,2,2,2,2,2,2,0.6,?,34,6.4,?,2
107,1,35,1,1,2,1,2,2,?,?,1,1,1,2,1.5,138,58,2.6,?,2
108,2,45,1,1,2,1,1,1,2,2,2,2,2,2,2.3,?,648,?,?,2
109,2,54,1,1,1,2,2,2,1,1,2,2,2,2,1,155,225,3.6,67,2
110,1,33,1,1,2,1,1,2,2,2,2,2,1,2,0.7,63,80,3,31,2
111,2,7,1,2,2,2,2,2,2,1,1,2,2,2,0.7,256,25,4.2,?,2
112,1,42,1,1,1,1,1,2,2,2,2,1,2,2,0.5,62,68,3.8,29,2
113,2,52,1,1,2,1,2,2,2,2,2,2,2,2,1,85,30,4,?,2
114,2,45,1,1,2,1,2,2,2,1,1,2,2,2,1.2,81,65,3,?,1
115,2,36,1,1,2,2,2,2,2,2,2,2,2,2,1.1,141,75,3.3,?,2
116,2,69,2,2,2,1,2,2,2,2,2,2,2,2,3.2,119,136,?,?,2
117,2,24,1,1,2,1,2,2,2,2,2,2,2,2,1,?,34,4.1,?,2
118,2,50,1,2,2,2,2,2,2,2,2,2,2,2,1,139,81,3.9,62,2
119,1,61,1,1,2,1,1,2,?,?,2,1,2,2,?,?,?,?,?,2
120,2,54,1,2,2,1,2,2,1,1,2,2,2,2,3.2,85,28,3.8,?,2
121,1,56,1,1,2,1,1,1,1,1,2,1,2,2,2.9,90,153,4,?,2
122,2,20,1,1,2,1,1,1,2,2,2,1,1,2,1,160,118,2.9,23,2
123,2,42,1,2,2,2,2,2,2,2,1,2,2,2,1.5,85,40,?,?,2
124,2,37,1,1,2,1,2,2,2,2,2,1,2,2,0.9,?,231,4.3,?,2
125,2,50,1,2,2,2,2,2,2,1,1,1,2,2,1,85,75,4,72,2
126,2,34,2,2,2,1,1,1,1,1,2,1,2,2,0.7,70,24,4.1,100,2
127,2,28,1,2,2,1,1,1,?,?,2,1,1,2,1,?,20,4,?,2
128,1,50,1,2,2,1,2,2,2,1,1,2,1,1,2.8,155,75,2.4,32,2
129,2,54,1,1,2,1,1,2,2,2,2,2,1,2,1.2,85,92,3.1,66,2
130,1,57,1,1,2,1,1,2,2,2,2,1,1,2,4.6,82,55,3.3,30,2
131,2,54,1,2,2,2,2,2,2,2,2,2,2,2,1,85,30,4.5,0,2
132,1,31,1,1,2,1,1,1,2,2,1,2,2,2,8,?,101,2.2,?,2
133,2,48,1,2,2,1,1,1,2,1,2,1,2,2,2,158,278,3.8,?,2
134,2,72,1,2,1,1,2,2,2,1,2,2,2,2,1,115,52,3.4,50,2
135,1,38,1,1,2,2,2,2,2,1,2,2,2,2,0.4,243,49,3.8,90,2
136,2,25,1,2,2,1,2,2,1,1,1,1,1,1,1.3,181,181,4.5,57,2
137,2,51,1,2,2,2,2,2,1,1,2,1,2,2,0.8,?,33,4.5,?,2
138,2,38,1,2,2,2,2,2,2,1,2,1,2,1,1.6,130,140,3.5,56,2
139,1,47,1,2,2,1,1,2,2,1,2,1,1,1,1,166,30,2.6,31,2
140,2,45,1,2,1,2,2,2,2,2,2,2,2,2,1.3,85,44,4.2,85,2
141,2,36,1,1,2,1,1,1,1,1,2,1,2,1,1.7,295,60,2.7,?,2
142,1,54,1,1,2,1,1,2,?,?,1,2,1,2,3.9,120,28,3.5,43,2
143,2,51,1,2,2,1,2,2,2,1,1,1,2,1,1,?,20,3,63,2
144,1,49,1,1,2,1,1,2,2,2,1,1,2,2,1.4,85,70,3.5,35,2
145,1,45,1,2,2,1,1,1,2,2,2,1,1,2,1.9,?,114,2.4,?,2
146,2,31,1,1,2,1,2,2,2,2,2,2,2,2,1.2,75,173,4.2,54,2
147,1,41,1,2,2,1,2,2,2,1,1,1,2,1,4.2,65,120,3.4,?,2
148,1,70,1,1,2,1,1,1,?,?,?,?,?,?,1.7,109,528,2.8,35,2
149,2,20,1,1,2,2,2,2,2,?,2,2,2,2,0.9,89,152,4,?,2
150,2,36,1,2,2,2,2,2,2,2,2,2,2,2,0.6,120,30,4,?,2
151,1,46,1,2,2,1,1,1,2,2,2,1,1,1,7.6,?,242,3.3,50,2
152,2,44,1,2,2,1,2,2,2,1,2,2,2,2,0.9,126,142,4.3,?,2
153,2,61,1,1,2,1,1,2,1,1,2,1,2,2,0.8,75,20,4.1,?,2
154,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.5,81,19,4.1,48,2
155,1,43,1,2,2,1,2,2,2,2,1,1,1,2,1.2,100,19,3.1,42,2

## Import CSV Files

In [29]:
import csv

In [31]:
with open('hepatitis.csv') as csvfile:
    rows = csv.reader(csvfile, delimiter = ',')
    column_names = next(rows)
    print(column_names)
    for row in rows:
        print(row)

['ID', 'target', 'age', 'gender', 'steroid', 'antivirals', 'fatigue', 'malaise', 'anorexia', 'liverBig', 'liverFirm', 'spleen', 'spiders', 'ascites', 'varices', 'bili', 'alk', 'sgot', 'albu', 'protime', 'histology']
['1', '2', '30', '2', '1', '2', '2', '2', '2', '1', '2', '2', '2', '2', '2', '1', '85', '18', '4', '?', '1']
['2', '2', '50', '1', '1', '2', '1', '2', '2', '1', '2', '2', '2', '2', '2', '0.9', '135', '42', '3.5', '?', '1']
['3', '2', '78', '1', '2', '2', '1', '2', '2', '2', '2', '2', '2', '2', '2', '0.7', '96', '32', '4', '?', '1']
['4', '2', '31', '1', '?', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '0.7', '46', '52', '4', '80', '1']
['5', '2', '34', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '1', '?', '200', '4', '?', '1']
['6', '2', '34', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '0.9', '95', '28', '4', '75', '1']
['7', '1', '51', '1', '1', '2', '1', '2', '1', '2', '2', '1', '1', '2', '2', '?', '?', '?', '?', '?', '1']
['8', '2', '23', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '1', '?', '?', '?', '?', '1']
['9', '2', '39', '1', '2', '2', '1', '2', '2', '2', '1', '2', '2', '2', '2', '0.7', '?', '48', '4.4', '?', '1']
['10', '2', '30', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '1', '?', '120', '3.9', '?', '1']
['11', '2', '39', '1', '1', '1', '2', '2', '2', '1', '1', '2', '2', '2', '2', '1.3', '78', '30', '4.4', '85', '1']
['12', '2', '32', '1', '2', '1', '1', '2', '2', '2', '1', '2', '1', '2', '2', '1', '59', '249', '3.7', '54', '1']
['13', '2', '41', '1', '2', '1', '1', '2', '2', '2', '1', '2', '2', '2', '2', '0.9', '81', '60', '3.9', '52', '1']
['14', '2', '30', '1', '2', '2', '1', '2', '2', '2', '1', '2', '2', '2', '2', '2.2', '57', '144', '4.9', '78', '1']
['15', '2', '47', '1', '1', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '?', '?', '60', '?', '?', '1']
['16', '2', '38', '1', '1', '2', '1', '1', '1', '2', '2', '2', '2', '1', '2', '2', '72', '89', '2.9', '46', '1']
['17', '2', '66', '1', '2', '2', '1', '2', '2', '2', '2', '2', '2', '2', '2', '1.2', '102', '53', '4.3', '?', '1']
['18', '2', '40', '1', '1', '2', '1', '2', '2', '2', '1', '2', '2', '2', '2', '0.6', '62', '166', '4', '63', '1']
['19', '2', '38', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '0.7', '53', '42', '4.1', '85', '2']
['20', '2', '38', '1', '1', '1', '2', '2', '2', '1', '1', '2', '2', '2', '2', '0.7', '70', '28', '4.2', '62', '1']
['21', '2', '22', '2', '2', '1', '1', '2', '2', '2', '2', '2', '2', '2', '2', '0.9', '48', '20', '4.2', '64', '1']
['22', '2', '27', '1', '2', '2', '1', '1', '1', '1', '1', '1', '1', '2', '2', '1.2', '133', '98', '4.1', '39', '1']
['23', '2', '31', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '1', '85', '20', '4', '100', '1']
['24', '2', '42', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '0.9', '60', '63', '4.7', '47', '1']
['25', '2', '25', '2', '1', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '0.4', '45', '18', '4.3', '70', '1']
['26', '2', '27', '1', '1', '2', '1', '1', '2', '2', '2', '2', '2', '2', '2', '0.8', '95', '46', '3.8', '100', '1']
['27', '2', '49', '1', '1', '1', '1', '1', '1', '2', '1', '2', '1', '2', '2', '0.6', '85', '48', '3.7', '?', '1']
['28', '2', '58', '2', '2', '2', '1', '2', '2', '2', '1', '2', '1', '2', '2', '1.4', '175', '55', '2.7', '36', '1']
['29', '2', '61', '1', '1', '2', '1', '2', '2', '1', '1', '2', '2', '2', '2', '1.3', '78', '25', '3.8', '100', '1']
['30', '2', '51', '1', '1', '1', '1', '1', '2', '2', '2', '2', '2', '2', '2', '1', '78', '58', '4.6', '52', '1']
['31', '1', '39', '1', '1', '1', '1', '1', '2', '2', '1', '2', '2', '2', '2', '2.3', '280', '98', '3.8', '40', '1']
['32', '1', '62', '1', '1', '2', '1', '1', '2', '?', '?', '2', '2', '2', '2', '1', '?', '60', '?', '?', '1']
['33', '2', '41', '2', '2', '1', '1', '1', '1', '2', '2', '2', '2', '2', '2', '0.7', '81', '53', '5', '74', '1']
['34', '2', '26', '2', '1', '2', '2', '2', '2', '2', '1', '2', '2', '2', '2', '0.5', '135', '29', '3.8', '60', '1']
['35', '2', '35', '1', '2', '2', '1', '2', '2', '2', '2', '2', '2', '2', '2', '0.9', '58', '92', '4.3', '73', '1']
['36', '1', '37', '1', '2', '2', '1', '2', '2', '2', '2', '2', '1', '2', '2', '0.6', '67', '28', '4.2', '?', '1']
['37', '2', '23', '1', '2', '2', '1', '1', '1', '2', '2', '1', '2', '2', '2', '1.3', '194', '150', '4.1', '90', '1']
['38', '2', '20', '2', '1', '2', '1', '1', '1', '1', '1', '1', '1', '2', '2', '2.3', '150', '68', '3.9', '?', '1']
['39', '2', '42', '1', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '1', '85', '14', '4', '100', '1']
['40', '2', '65', '1', '2', '2', '1', '1', '2', '2', '1', '1', '1', '1', '2', '0.3', '180', '53', '2.9', '74', '2']
['41', '2', '52', '1', '1', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '0.7', '75', '55', '4', '21', '1']
['42', '2', '23', '1', '2', '2', '2', '2', '2', '?', '?', '?', '?', '?', '?', '4.6', '56', '16', '4.6', '?', '1']
['43', '2', '33', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '1', '46', '90', '4.4', '60', '1']
['44', '2', '56', '1', '1', '2', '1', '2', '2', '2', '2', '2', '2', '2', '2', '0.7', '71', '18', '4.4', '100', '1']
['45', '2', '34', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '?', '?', '86', '?', '?', '1']
['46', '2', '28', '1', '2', '2', '1', '1', '2', '2', '2', '2', '2', '2', '2', '0.7', '74', '110', '4.4', '?', '1']
['47', '2', '37', '1', '1', '2', '2', '2', '2', '2', '1', '2', '1', '2', '2', '0.6', '80', '80', '3.8', '?', '1']
['48', '2', '28', '2', '2', '2', '1', '1', '2', '2', '1', '2', '2', '2', '2', '1.8', '191', '420', '3.3', '46', '1']
['49', '2', '36', '1', '1', '2', '2', '2', '2', '2', '2', '1', '2', '2', '2', '0.8', '85', '44', '4.2', '85', '1']
['50', '2', '38', '1', '2', '1', '1', '1', '1', '2', '2', '2', '1', '2', '2', '0.7', '125', '65', '4.2', '77', '1']
['51', '2', '39', '1', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '0.9', '85', '60', '4', '?', '1']
['52', '2', '39', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '1', '85', '20', '4', '?', '1']
['53', '2', '44', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '0.6', '110', '145', '4.4', '70', '1']
['54', '2', '40', '1', '2', '1', '1', '2', '2', '2', '1', '1', '2', '2', '2', '1.2', '85', '31', '4', '100', '1']
['55', '2', '30', '1', '2', '2', '1', '2', '2', '2', '2', '2', '2', '2', '2', '0.7', '50', '78', '4.2', '74', '1']
['56', '2', '37', '1', '1', '2', '1', '1', '1', '2', '2', '2', '2', '2', '2', '0.8', '92', '59', '?', '?', '1']
['57', '2', '34', '1', '1', '2', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '1']
['58', '2', '30', '1', '2', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '0.7', '52', '38', '3.9', '52', '1']
['59', '2', '64', '1', '2', '1', '1', '1', '2', '1', '1', '2', '2', '2', '2', '1', '80', '38', '4.3', '74', '1']
['60', '2', '45', '2', '1', '2', '1', '1', '2', '2', '2', '1', '2', '2', '2', '1', '85', '75', '?', '?', '1']
['61', '2', '37', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '0.7', '26', '58', '4.5', '100', '1']
['62', '2', '32', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '0.7', '102', '64', '4', '90', '1']
['63', '2', '32', '1', '2', '2', '1', '1', '1', '2', '2', '2', '1', '2', '1', '3.5', '215', '54', '3.4', '29', '1']
['64', '2', '36', '1', '1', '2', '2', '2', '2', '1', '1', '1', '2', '2', '2', '0.7', '164', '44', '3.1', '41', '1']
['65', '2', '49', '1', '2', '2', '1', '1', '2', '2', '2', '2', '2', '2', '2', '0.8', '103', '43', '3.5', '66', '1']
['66', '2', '27', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '0.8', '?', '38', '4.2', '?', '1']
['67', '2', '56', '1', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '0.7', '62', '33', '3', '?', '1']
['68', '1', '57', '1', '2', '2', '1', '1', '1', '2', '2', '2', '1', '1', '2', '4.1', '?', '48', '2.6', '73', '1']
['69', '2', '39', '1', '2', '2', '1', '2', '2', '2', '2', '2', '2', '2', '2', '1', '34', '15', '4', '54', '1']
['70', '2', '44', '1', '1', '2', '1', '1', '2', '2', '2', '2', '2', '2', '2', '1.6', '68', '68', '3.7', '?', '1']
['71', '2', '24', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '0.8', '82', '39', '4.3', '?', '1']
['72', '1', '34', '1', '1', '2', '1', '1', '2', '1', '1', '2', '1', '2', '2', '2.8', '127', '182', '?', '?', '1']
['73', '2', '51', '1', '2', '2', '1', '1', '1', '?', '?', '?', '?', '?', '?', '0.9', '76', '271', '4.4', '?', '1']
['74', '2', '36', '1', '1', '2', '1', '1', '1', '2', '1', '2', '2', '2', '2', '1', '?', '45', '4', '57', '1']
['75', '2', '50', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '1.5', '100', '100', '5.3', '?', '1']
['76', '2', '32', '1', '1', '1', '1', '1', '2', '2', '2', '2', '2', '2', '2', '1', '55', '45', '4.1', '56', '1']
['77', '1', '58', '1', '2', '2', '1', '2', '2', '1', '1', '1', '1', '2', '2', '2', '167', '242', '3.3', '?', '1']
['78', '2', '34', '2', '1', '1', '2', '2', '2', '2', '1', '2', '2', '2', '2', '0.6', '30', '24', '4', '76', '1']
['79', '2', '34', '1', '1', '2', '1', '2', '2', '1', '1', '2', '1', '2', '2', '1', '72', '46', '4.4', '57', '1']
['80', '2', '28', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '0.7', '85', '31', '4.9', '?', '1']
['81', '2', '23', '1', '2', '2', '1', '1', '1', '2', '2', '2', '2', '2', '2', '0.8', '?', '14', '4.8', '?', '1']
['82', '2', '36', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '0.7', '62', '224', '4.2', '100', '1']
['83', '2', '30', '1', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '0.7', '100', '31', '4', '100', '1']
['84', '2', '67', '2', '1', '2', '1', '1', '2', '2', '2', '?', '?', '?', '?', '1.5', '179', '69', '2.9', '?', '1']
['85', '2', '62', '2', '2', '2', '1', '1', '2', '2', '1', '2', '1', '2', '2', '1.3', '141', '156', '3.9', '58', '1']
['86', '2', '28', '1', '1', '2', '1', '1', '1', '2', '1', '2', '2', '2', '2', '1.6', '44', '123', '4', '46', '1']
['87', '1', '44', '1', '1', '2', '1', '1', '2', '2', '2', '1', '2', '2', '1', '0.9', '135', '55', '?', '41', '2']
['88', '1', '30', '1', '2', '2', '1', '1', '1', '2', '1', '2', '1', '1', '1', '2.5', '165', '64', '2.8', '?', '2']
['89', '1', '38', '1', '1', '2', '1', '1', '1', '2', '1', '2', '1', '1', '1', '1.2', '118', '16', '2.8', '?', '2']
['90', '2', '38', '1', '1', '2', '1', '1', '1', '1', '1', '2', '2', '2', '2', '0.6', '76', '18', '4.4', '84', '2']
['91', '2', '50', '2', '1', '2', '1', '2', '2', '1', '1', '1', '1', '2', '2', '0.9', '230', '117', '3.4', '41', '2']
['92', '1', '42', '1', '1', '2', '1', '1', '1', '2', '2', '1', '1', '2', '1', '4.6', '?', '55', '3.3', '?', '2']
['93', '2', '33', '1', '2', '2', '2', '2', '2', '?', '?', '2', '2', '2', '2', '1', '?', '60', '4', '?', '2']
['94', '2', '52', '1', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '1.5', '?', '69', '2.9', '?', '2']
['95', '1', '59', '1', '1', '2', '1', '1', '2', '2', '1', '1', '1', '2', '2', '1.5', '107', '157', '3.6', '38', '2']
['96', '2', '40', '1', '1', '1', '1', '1', '1', '1', '1', '2', '2', '2', '2', '0.6', '40', '69', '4.2', '67', '2']
['97', '2', '30', '1', '1', '2', '1', '1', '2', '2', '1', '2', '1', '2', '2', '0.8', '147', '128', '3.9', '100', '2']
['98', '2', '44', '1', '1', '2', '1', '1', '2', '1', '1', '2', '1', '2', '2', '3', '114', '65', '3.5', '?', '2']
['99', '1', '47', '1', '2', '2', '2', '2', '2', '2', '2', '2', '1', '2', '1', '2', '84', '23', '4.2', '66', '2']
['100', '2', '60', '1', '1', '2', '1', '2', '2', '1', '1', '1', '1', '2', '2', '?', '?', '40', '?', '?', '2']
['101', '1', '48', '1', '1', '2', '1', '1', '2', '2', '1', '2', '1', '1', '1', '4.8', '123', '157', '2.7', '31', '2']
['102', '2', '22', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '0.7', '?', '24', '?', '?', '2']
['103', '2', '27', '1', '1', '2', '1', '2', '2', '2', '1', '2', '2', '2', '2', '2.4', '168', '227', '3', '66', '2']
['104', '2', '51', '1', '1', '2', '1', '1', '1', '2', '1', '1', '1', '2', '1', '4.6', '215', '269', '3.9', '51', '2']
['105', '1', '47', '1', '2', '2', '1', '1', '2', '2', '1', '2', '2', '1', '1', '1.7', '86', '20', '2.1', '46', '2']
['106', '2', '25', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '0.6', '?', '34', '6.4', '?', '2']
['107', '1', '35', '1', '1', '2', '1', '2', '2', '?', '?', '1', '1', '1', '2', '1.5', '138', '58', '2.6', '?', '2']
['108', '2', '45', '1', '1', '2', '1', '1', '1', '2', '2', '2', '2', '2', '2', '2.3', '?', '648', '?', '?', '2']
['109', '2', '54', '1', '1', '1', '2', '2', '2', '1', '1', '2', '2', '2', '2', '1', '155', '225', '3.6', '67', '2']
['110', '1', '33', '1', '1', '2', '1', '1', '2', '2', '2', '2', '2', '1', '2', '0.7', '63', '80', '3', '31', '2']
['111', '2', '7', '1', '2', '2', '2', '2', '2', '2', '1', '1', '2', '2', '2', '0.7', '256', '25', '4.2', '?', '2']
['112', '1', '42', '1', '1', '1', '1', '1', '2', '2', '2', '2', '1', '2', '2', '0.5', '62', '68', '3.8', '29', '2']
['113', '2', '52', '1', '1', '2', '1', '2', '2', '2', '2', '2', '2', '2', '2', '1', '85', '30', '4', '?', '2']
['114', '2', '45', '1', '1', '2', '1', '2', '2', '2', '1', '1', '2', '2', '2', '1.2', '81', '65', '3', '?', '1']
['115', '2', '36', '1', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '1.1', '141', '75', '3.3', '?', '2']
['116', '2', '69', '2', '2', '2', '1', '2', '2', '2', '2', '2', '2', '2', '2', '3.2', '119', '136', '?', '?', '2']
['117', '2', '24', '1', '1', '2', '1', '2', '2', '2', '2', '2', '2', '2', '2', '1', '?', '34', '4.1', '?', '2']
['118', '2', '50', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '1', '139', '81', '3.9', '62', '2']
['119', '1', '61', '1', '1', '2', '1', '1', '2', '?', '?', '2', '1', '2', '2', '?', '?', '?', '?', '?', '2']
['120', '2', '54', '1', '2', '2', '1', '2', '2', '1', '1', '2', '2', '2', '2', '3.2', '85', '28', '3.8', '?', '2']
['121', '1', '56', '1', '1', '2', '1', '1', '1', '1', '1', '2', '1', '2', '2', '2.9', '90', '153', '4', '?', '2']
['122', '2', '20', '1', '1', '2', '1', '1', '1', '2', '2', '2', '1', '1', '2', '1', '160', '118', '2.9', '23', '2']
['123', '2', '42', '1', '2', '2', '2', '2', '2', '2', '2', '1', '2', '2', '2', '1.5', '85', '40', '?', '?', '2']
['124', '2', '37', '1', '1', '2', '1', '2', '2', '2', '2', '2', '1', '2', '2', '0.9', '?', '231', '4.3', '?', '2']
['125', '2', '50', '1', '2', '2', '2', '2', '2', '2', '1', '1', '1', '2', '2', '1', '85', '75', '4', '72', '2']
['126', '2', '34', '2', '2', '2', '1', '1', '1', '1', '1', '2', '1', '2', '2', '0.7', '70', '24', '4.1', '100', '2']
['127', '2', '28', '1', '2', '2', '1', '1', '1', '?', '?', '2', '1', '1', '2', '1', '?', '20', '4', '?', '2']
['128', '1', '50', '1', '2', '2', '1', '2', '2', '2', '1', '1', '2', '1', '1', '2.8', '155', '75', '2.4', '32', '2']
['129', '2', '54', '1', '1', '2', '1', '1', '2', '2', '2', '2', '2', '1', '2', '1.2', '85', '92', '3.1', '66', '2']
['130', '1', '57', '1', '1', '2', '1', '1', '2', '2', '2', '2', '1', '1', '2', '4.6', '82', '55', '3.3', '30', '2']
['131', '2', '54', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '1', '85', '30', '4.5', '0', '2']
['132', '1', '31', '1', '1', '2', '1', '1', '1', '2', '2', '1', '2', '2', '2', '8', '?', '101', '2.2', '?', '2']
['133', '2', '48', '1', '2', '2', '1', '1', '1', '2', '1', '2', '1', '2', '2', '2', '158', '278', '3.8', '?', '2']
['134', '2', '72', '1', '2', '1', '1', '2', '2', '2', '1', '2', '2', '2', '2', '1', '115', '52', '3.4', '50', '2']
['135', '1', '38', '1', '1', '2', '2', '2', '2', '2', '1', '2', '2', '2', '2', '0.4', '243', '49', '3.8', '90', '2']
['136', '2', '25', '1', '2', '2', '1', '2', '2', '1', '1', '1', '1', '1', '1', '1.3', '181', '181', '4.5', '57', '2']
['137', '2', '51', '1', '2', '2', '2', '2', '2', '1', '1', '2', '1', '2', '2', '0.8', '?', '33', '4.5', '?', '2']
['138', '2', '38', '1', '2', '2', '2', '2', '2', '2', '1', '2', '1', '2', '1', '1.6', '130', '140', '3.5', '56', '2']
['139', '1', '47', '1', '2', '2', '1', '1', '2', '2', '1', '2', '1', '1', '1', '1', '166', '30', '2.6', '31', '2']
['140', '2', '45', '1', '2', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '1.3', '85', '44', '4.2', '85', '2']
['141', '2', '36', '1', '1', '2', '1', '1', '1', '1', '1', '2', '1', '2', '1', '1.7', '295', '60', '2.7', '?', '2']
['142', '1', '54', '1', '1', '2', '1', '1', '2', '?', '?', '1', '2', '1', '2', '3.9', '120', '28', '3.5', '43', '2']
['143', '2', '51', '1', '2', '2', '1', '2', '2', '2', '1', '1', '1', '2', '1', '1', '?', '20', '3', '63', '2']
['144', '1', '49', '1', '1', '2', '1', '1', '2', '2', '2', '1', '1', '2', '2', '1.4', '85', '70', '3.5', '35', '2']
['145', '1', '45', '1', '2', '2', '1', '1', '1', '2', '2', '2', '1', '1', '2', '1.9', '?', '114', '2.4', '?', '2']
['146', '2', '31', '1', '1', '2', '1', '2', '2', '2', '2', '2', '2', '2', '2', '1.2', '75', '173', '4.2', '54', '2']
['147', '1', '41', '1', '2', '2', '1', '2', '2', '2', '1', '1', '1', '2', '1', '4.2', '65', '120', '3.4', '?', '2']
['148', '1', '70', '1', '1', '2', '1', '1', '1', '?', '?', '?', '?', '?', '?', '1.7', '109', '528', '2.8', '35', '2']
['149', '2', '20', '1', '1', '2', '2', '2', '2', '2', '?', '2', '2', '2', '2', '0.9', '89', '152', '4', '?', '2']
['150', '2', '36', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '0.6', '120', '30', '4', '?', '2']
['151', '1', '46', '1', '2', '2', '1', '1', '1', '2', '2', '2', '1', '1', '1', '7.6', '?', '242', '3.3', '50', '2']
['152', '2', '44', '1', '2', '2', '1', '2', '2', '2', '1', '2', '2', '2', '2', '0.9', '126', '142', '4.3', '?', '2']
['153', '2', '61', '1', '1', '2', '1', '1', '2', '1', '1', '2', '1', '2', '2', '0.8', '75', '20', '4.1', '?', '2']
['154', '2', '53', '2', '1', '2', '1', '2', '2', '2', '2', '1', '1', '2', '1', '1.5', '81', '19', '4.1', '48', '2']
['155', '1', '43', '1', '2', '2', '1', '2', '2', '2', '2', '1', '1', '1', '2', '1.2', '100', '19', '3.1', '42', '2']

## using GLOB to do some magic READ and UPDATE

In [ ]:
for filename in glob.glob('data/*.csv'):
    data = pandas.read_csv(filename)
    print(filename, data['salary'].min())

## Saving Files

In [ ]:
df.to_csv()

In [ ]:
df.to_pickle()

In [ ]:
pd.read_pickle(df)